body{
    height: 2000px;


}

.filter {
  width: 100%;
  height: 40px;
  position: fixed;
  z-index: 999;
    top:0;
    left: 0;
}
.filter-sort {
  height: 100%;
  left: 0;
  top: 0;
  z-index: 999;
}
.filter-sort .filter-sort-head {
  position: relative;
  width: 100%;
  height: 40px;
  top: 0;
  background-color: #f8f8f8;
  border-bottom: 1px solid #e5e5e5;
  z-index: 12;
}
.filter-sort .filter-sort-head .head-tab {
  display: inline-block;
  float: left;
  width: 50%;
  box-sizing: border-box;
  padding: 13px 4px;
  font-size: 13px;
  color: #666;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.filter-sort .filter-sort-head .head-tab:first-child:after {
  content: "";
  display: inline-block;
  margin-left: 7px;
  margin-bottom: 3px;
  width: 6px;
  height: 6px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #666;
  border-width: 1px 0 0 1px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  transition-duration: 300ms;
  -webkit-transition-duration: 300ms;
}
.filter-sort .filter-sort-head .head-tab.active:after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-bottom: 0;
}
.filter-sort .filter-sort-body {
  position: absolute;
  width: 100%;
  background-color: #eee;
  z-index: 999;
}
.filter-sort .filter-sort-body .option-list {
  width: 100%;
  list-style: none;
}
.filter-sort .filter-sort-body .main-block .option-list .option {
  border-right: 1px solid #e2e2e2;
}
.filter-sort .filter-sort-body .main-block {
  float: left;
  width: 50%;
  height: 320px;
  top: 0;
  background-color: #f8f8f8;
  overflow: hidden;
}
.filter-sort .filter-sort-body .option-list .option {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  padding: 12px;
  font-size: 14px;
  color: #111;
  background-color: #f8f8f8;
  border-bottom: 1px solid #e2e2e2;
}
.filter-sort .filter-sort-body .option-list .option .option-count {
  float: right;
  display: inline-block;
  line-height: 16px;
  height: 16px;
  padding: 0 6px;
  font-size: 12px;
  color: #fff;
  border-radius: 2px;
  background-color: #aaaaaa;
}
.filter-sort .filter-sort-body .option-list .option.active,
.filter-sort .filter-sort-body .option-list .option:active {
  background-color: #eee;
  color: #ff4987;
}
.filter-sort .filter-sort-body .option-list .option.has-more .option-count:after {
  content: "";
  display: inline-block;
  margin-left: 4px;
  margin-bottom: 1px;
  width: 6px;
  height: 6px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #fff;
  border-width: 1px 0 0 1px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
.filter-sort .filter-sort-body .area-part .area-header {
  position: absolute;
  width: 100%;
  padding: 8px 0;
  height: 24px;
  z-index: 13;
  border-bottom: 1px solid #ccc;
  background-color: #f8f8f8;
}
.filter-sort .filter-sort-body .area-part .area-header li {
  float: left;
  position: relative;
  width: 50%;
  box-sizing: border-box;
  line-height: 24px;
  height: 24px;
  text-align: center;
  font-size: 13px;
  color: #666;
  border-right: 1px solid #cccccc;
}
.filter-sort .filter-sort-body .area-part .area-header li:last-child {
  border-right: 0;
}
.filter-sort .filter-sort-body .area-part .area-header li.active {
  color: #ff4987;
}
.filter-sort .filter-sort-body .area-part .area-header li.active:after {
  content: "";
  display: block;
  position: absolute;
  width: 100px;
  height: 2px;
  background-color: #ff4987;
  left: 50%;
  margin-left: -50px;
  bottom: -8px;
}
.filter-sort .filter-sort-body .area-part .area-body {
  position: relative;
  height: 100%;
  box-sizing: border-box;
  /* padding-top: 41px*/
}
.filter-sort .filter-sort-body .area-part .area-body .content-block {
  position: relative;
  height: 100%;
}
.filter-sort .filter-sort-body .area-part .area-body .content-block .main-block,
.filter-sort .filter-sort-body .area-part .area-body .content-block .side-block {
  height: 279px;
}
.filter-sort .filter-sort-body .side-block {
  float: left;
  width: 50%;
  height: 320px;
  top: 0;
  left: 50%;
  box-sizing: border-box;
  background-color: #eee;
  overflow: hidden;
}
.filter-sort-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  transition-duration: 300ms;
  -webkit-transition-duration: 300ms;
}
.filter-sort .filter-sort-body .filter-part .filter-block .filter-radios-block {
  border-top: 1px solid #e2e2e2;
  padding: 18px 7px 10px;
  overflow: hidden;
}
.filter-sort .filter-sort-body .filter-part .filter-block .filter-radios-block .filter-radios-title {
  padding: 0 5px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 400;
  color: #888888;
}
.filter-sort .filter-sort-body .filter-part .filter-block .filter-radios-block .radio-wrapper {
  float: left;
  display: inline-block;
  width: 18%;
  /*    box-sizing: border-box;*/
  padding: 0 5px;
  margin-bottom: 10px;
}
.filter-sort .filter-sort-body .filter-part .filter-block .filter-radios-block .filter-radio {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  height: 26px;
  line-height: 26px;
  color: #666;
  font-size: 12px;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 4px;
}
.filter-sort .filter-sort-body .filter-part .filter-block .filter-radios-block .filter-radio.checked {
  color: #ff4987;
  background-color: #eee;
}
.filter-sort .filter-sort-body .filter-part .filter-block .filter-submit-block {
  width: 100%;
  box-sizing: border-box;
  padding: 8px 12px 18px;
}
.filter-sort .filter-sort-body .filter-part .filter-block .filter-submit-block .filter-submit {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  box-sizing: border-box;
  text-align: center;
  color: #ff4987;
  font-size: 16px;
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  background-color: #ffffff;
}
