.wrap {
  padding: 8px;
  padding-bottom: 0;
}
.wrap .hd-place-stand {
  width: 100%;
  position: relative;
  margin-top: 0.3rem;
}
.wrap .hd-place-img-wrap {
  width: 100%;
}
.wrap .hd-place-img {
  width: 100%;
  padding-top: 37.8%;
}
.wrap .hd-place-ttl {
  position: absolute;
  bottom: 1rem ;
  left: 1rem;
  color: #fff;
  font-size: 1.7rem;
  line-height: 1.7rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 75%;
  display: inline-block;
}
.wrap .hd-place-vw {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  color: #fff;
  font-size: 1.3rem;
}
.wrap .hd-place-vw .icon {
  display: inline-block;
  background-image: url(/image/view.gif);
  height: 1rem;
  width: 1.64rem;
  background-size: 100% 100%;
  margin-right: 0.5rem;
}
.wrap .hd-place-desc {
  line-height: 1.5rem;
  height: 1.8rem;
}
.wrap .hd-place-pos {
  float: left;
  color: #666666;
}
.wrap .hd-place-type {
  float: right;
  color: #666666;
}
