<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width,user-scalable=no,target-densitydpi=medium-dpi"/>
    <style>
        header{position: fixed;top: 0;left: 0;height: 3rem;line-height: 3rem; width:100%;
            background: #ccc;box-shadow: 0 2px 2px;text-align: center;}
        footer{position: fixed;bottom: 0;left: 0;height: 3rem;line-height: 3rem; width:100%;
            background: #ccc;box-shadow: 0 2px 2px;text-align: center;border-top:1px solid #aaa;}
        nav{width:100%;display: flex;}
        .nav{flex: 1;}
    </style>
</head>
<body>
     <header>
         <nav>
             <%
                var i= 0,len=navs.length;
                for(i;i<len;i++){
                    var nav=navs[i];
             %>
                <span class="nav"><%=nav%></span>
             <%
                }
             %>

         </nav>
     </header>
     <section id="content">

     </section>

     <footer>

          <%=footer %>
     </footer>
</body>
</html>