html, body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, address, img, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: 400
}

html{
    font-size: 87.5%;
    background:#fff;
}

body {
    overflow-x:hidden;
    background:#fff;
    font-family: "微软雅黑";
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0)
}

a {
    text-decoration: none;
    outline: 0 ;
    color:#000;
}

ol, ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

blockquote::before, blockquote::after, q::before, q::after {
    content: none
}

ins {
    text-decoration: none
}

del {
    text-decoration: line-through
}

fieldset, img {
    border: 0;
    vertical-align: middle;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    vertical-align: middle;
    -webkit-user-select: auto;
    padding: 0
}

textarea {
    resize: none;
    overflow: auto;
    vertical-align: top
}

[hidden] {
    display: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

input, textarea {
    -webkit-appearance: none;
    border-radius: 0
}

.clear{
    zoom: 1;
}

.clear:after{
    clear: both;
    content: "";
    display: block;
}